@font-face {
    font-family: "iconfont"; /* Project id 4358374 */
    src: url('iconfont.woff2?t=1701688382030') format('woff2'),
    url('iconfont.woff?t=1701688382030') format('woff'),
    url('iconfont.ttf?t=1701688382030') format('truetype');
}

.tb {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-shenfen:before {
    content: "\e74d";
}

